.header{
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 120px;
}

.header a {
    color: whitesmoke;
    text-decoration: none;
    margin-left: 10px;
}

.header a:hover{
    color: orange;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
   .header{
       display: block;
       text-align: center;
       height: 120px;
   }
}